<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title> 
      Criação de elementos HTML 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1> Filmes </h1>
  <table border="1"> 
    <tr>
      <th> Nome: </th>
      <td> Homem de aço </td>
      <td> Batman </td>
      <td> Mulher Maravilha</td>
    </tr>
    <tr>
      <th> Descrição: </th>
      <td> Filme da DC Comics </td>
      <td> Filme da DC Comics </td>
      <td> Filme da DC Comics </td>
    </tr>
    <tr>
      <th> Nota: </th>
      <td> 8.0 </td>
      <td> 9.0 </td>
      <td> 8.0 </td>
    </tr>
  </table>
</ion-content>

